* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(27, 27, 27);
    margin: 0px 0px 10px 0px;
    
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline
}
li a {
    display: inline-block;
    color: rgb(13, 209, 235);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    padding: 8px;
}

li a:hover {
    background-color: rgb(248, 6, 6);
    color: rgb(20, 45, 112);
}

h1 {
    text-align: right;
    font-size: 50px;
    margin-right: 100px;
    margin-top: 50px;
}
h3 {
    font-size: 40px;
    color: rgb(13, 209, 235);
    margin: 20px 0 0 20px;
}
img {
    width: 419px;
    height: 200px;
}
p {
    font-size: 20px;
    margin: 0 0 0 50px;
}
h5 {
    margin: 10px 0 0 40px
}
.info {
    color: orangered;   
}
.about {
    color: orangered; 
    text-indent: 5px;  
    margin-bottom: 5px;
}
#info {
    color: orangered;   
    margin-left: 100px;
}